

</body>
<footer id="footer">
<%   var date = new Date(); %>
<%   var year = date.getFullYear() %>

    <div class="container-fluid" style="margin-top: auto;margin-bottom: auto;">
      <a  href="https://www.linkedin.com/in/rakshit-khullar-5747631bb/"><img src="/icon.png" alt="instagram" style="border-radius: 100%;
        width: 3%;"></a>
      <br>
      <p style="font-weight: bold;" >&copy;  <%= year %>  &nbsp; Rakshit Khullar</p>
    <div>
</footer>

</html>
